[Unit]
Description=Monitor and Pair Bluetooth Keyboard
After=bluetooth.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/enable-default-agent-and-pair.sh
