[Unit]
Description=Run Bluetooth Keyboard Monitor Periodically

[Timer]
OnUnitActiveSec=1m
Unit=keyboard-monitor.service

[Install]
WantedBy=timers.target
